.bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgb(28, 28, 35);
    color: white;
    align-items: center;
    z-index: 10;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 2px;
}

.closed {
    width: 50px;
}

.open {
    width: 250px;
}

.toggle-btn {
    background-color: rgb(0, 4, 48);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.bartext {
    background-color: rgb(1, 1, 35);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    margin-bottom: 10px;
    
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
    text-align: center;
    margin-bottom: 400px;
}

.menu li {
    padding: 10px;
    width: 100%;
    background-color: rgb(1, 1, 35);
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu li:hover {
    background-color: rgb(0, 4, 48);
}
