.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 53, 68);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}




.footerbox {
    max-width: 1200px;
    margin: auto;
}