@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 10px; /* Moves the Clerk login buttons to the right */
  z-index: 10; /* Ensures it's above other elements */
  background: transparent; /* Removes background so it's visible */
}
